@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
  --purple: #705edc;
  --white: #eaebed;
  --gray: #89878bd7;
  --lightPurple: #c6bcf3;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
  display: flex;
}

body {
  background-color: var(--white);
  max-width: 85%;
  margin: auto;
  font-family: Poppins;
  overflow-y: scroll;
}

header {
  display: grid;
  grid-template-columns: 8rem 1fr;
}

a {
  text-decoration: none;
}

li a {
  color: var(--purple);
  border-radius: 10px;
  padding: 8px;
  margin-left: 15px;
}

ul {
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 1.3rem;
}

#logo {
  font-weight: 800;
  color: var(--purple);
  font-size: 2rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: end;
}
#sidebar {
  display: flex;
  align-items: center;
  justify-content: end;
}

#sidebar i {
  font-size: 2.3rem;
}

#sidebarContainer {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: var(--gray);
}
#homelink {
  background-color: var(--purple);
  color: var(--white);
}

#settings {
  margin-left: 10px;
  font-size: 1.75rem;
  padding: 0;
  transition: transform 0.6s;
}

#settings:hover {
  transform: rotate(60deg);
}

#settingsContainer {
  display: none;
  width: 180px;
  height: 100px;
  background-color: var(--purple);
  position: absolute;
  border-radius: 10px;
  margin-top: 110px;
}

#settingContainer a {
  color: var(--white);
}

#settingsTop {
  text-align: right;
}

#englishVersion {
  color: var(--white);
  margin: auto;
}

#closeSettings {
  color: var(--white);
  font-size: 1.6rem;
}

li a:hover:not(#homelink) {
  background-color: var(--purple);
  color: var(--white);
  transition: 0.3s;
}

.homeContainer {
  display: flex;
}

.homeButtons {
  padding: 10px;
  margin-right: 3px;
  border-radius: 6px;
  border: 2px solid var(--purple);
  font-weight: 700;
  font-size: 1.2rem;
  transition: background-color 0.8s;
}

.homeButtons a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homeButtons p {
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--black);
}
.homeButtons i {
  font-size: 1.5rem;
  margin-left: 2px;
}
.homeButtons:hover {
  background-color: var(--lightPurple);
}

#homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#name {
  color: var(--purple);
  font-weight: 900;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction-text {
  font-weight: 900;
  font-size: 3.1rem;
}

#about-page {
  text-align: center;
  max-width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray);
  margin: 0;
  margin-top: -10px;
  margin-bottom: 3rem;
  text-align: center;
}

#about-page p span {
  color: var(--purple);
  font-weight: 800;
}

#aboutText {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 0;
}
#ps {
  color: var(--gray);
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0;
}

#skills {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#skillcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

#subcard {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-bottom: 17%;
  min-height: 300px;
  min-width: 300px;
}

.bartitle {
  color: #070606;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: -14px;
  padding-top: 20px;
}

#cssbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 65%;
}

#htmlbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 85%;
}

#adobebar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 50%;
}

#jsbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 25%;
}

#linuxbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 25%;
}

#pcbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 98%;
}
#pybar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 15%;
}

#repairbar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
  width: 80%;
}
.bar {
  background-color: var(--lightPurple);
  border-radius: 10px;
  display: flex;
  height: 1.2rem;
  margin-top: 15px;
  width: 80%;
}

.bartitle {
  color: #070606;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: -14px;
  padding-top: 20px;
}
.uil {
  color: var(--purple);
}
.uilBottom {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2.3rem;
  padding-right: 10px;
}
#qualfication {
  display: flex;
  flex-direction: column;
}

.timeline-container {
  display: flex;
}

.timeline {
  display: flex;
  height: 190px;
  width: 0.3rem;
  background-color: var(--lightPurple);
  justify-content: center;
}

.dots {
  background-color: var(--purple);
  height: 5px;
  width: 5px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
}

.timeline-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -24px;
}

.timeline-text h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.timeline-text p {
  margin: 0;
  color: var(--gray);
}

.date {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.date i {
  font-size: 1.6rem;
  color: #89878be0;
}

.filled {
  background-color: var(--purple);
}

.timeline-border {
  border-radius: 10px;
  height: 190px;
}

#timeline-buttons {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}

.button-text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 5px;
}

.button i {
  font-size: 2rem;
  margin-right: 10px;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: var(--lightPurple);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 10px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-element {
  display: flex;
  font-size: 2.3rem;
  justify-content: center;
}

#contact-elements p {
  font-size: 1.4rem;
}

.contact-element h4 {
  margin: 0;
}

#contact-head {
  margin-bottom: 50px;
}

.card {
  align-items: center;
  background-color: #a9a8aa27;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 460px;
}

.cardhead {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.cardtext {
  color: #070606;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
}
.subcard {
  align-items: center;
  justify-content: center;
  background-color: #c6c7c9da;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 8rem;
  height: 8rem;
}
.subcard i {
  align-items: center;
  padding: 0;
}

.subcard p {
  color: #070606;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 920px) {
  #navbar {
    display: none;
  }

  #blob {
    display: none;
  }

  #homepage {
    grid-template-columns: 1fr;
  }

  #introduction-text {
    margin-top: 35%;
  }
}

@media only screen and (max-width: 1024px) {
  #skillcards {
    grid-template-columns: 1fr !important;
    display: fixed;
  }
  .card {
    padding-bottom: 40px;
  }
  #about-page {
    margin-bottom: 200px;
  }
  #about-page {
    max-width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  #about-page p {
    font-size: 1.4rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .sub-title {
    font-size: 0.8rem;
  }

  #introduction-text {
    font-size: 2.5rem;
  }

  #homepage {
    margin-bottom: 50px;
  }
}

.has {
  margin-bottom: 0;
  margin-top: 14px;
}

@media only screen and (max-width: 1400px) {
  #skillcards {
    grid-template-columns: 1fr 1fr;
    display: fixed;
  }
  .card {
    padding-bottom: 40px;
  }
}

#work-timeline {
  display: none;
}

.uil-suitcase {
  color: #0706066e;
}

.aboutLinks {
  border-bottom: 2px solid transparent;
  transition: border-color 0.8s;
  color: var(--black);
}

.aboutLinks:hover {
  border-color: var(--black);
}
section:not(#homepage) {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
